.project {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px 50px 0px;
    border-top: 1px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: all 0.2s;



    h2 {


        font-size: 60px;
        margin: 0px;
        font-weight: 400;
        transition: all 0.4s;
        padding-left: 50px;
    }

    @media screen and (max-width: 680px) {
        h2 {
            font-size: 40px;
        }

    }

    &:last-of-type {
        border-bottom: 1px solid rgb(201, 201, 201);
    }

    &:hover {
        opacity: 0.5;

        h2 {
            transform: translateX(-10px);
        }

        p {
            transform: translateX(10px);
        }
    }
}